{% extends "header.html" %}
{% block content %}
<form action="/idea/{{idea.pk}}/update" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <small>아이디어명</small>
    <input name="name"/>
    <br>
    <small>Image</small>
    <input type="file" name="image"/>
    <br/>
    <small>아이디어 설명</small>
    <textarea name="description"></textarea>
    <br/>
    <small>아이디어 관심도</small>
    <input name="interest"/>
    <br/>
    <small>예상 개발툴</small>
    <input name="tool"/>
    <div>
        <input type="submit" value="SUBMIT"/>
    </div>
    </form>
{% endblock content %}