{% extends "header.html" %}
{% block content %}
<small>아이디어명 : {{idea.name}}</small>

<br>
<small>Image : {{idea.image}}</small>

<br/>
<small>아이디어 설명 : {{idea.description}}/small>

<br/>
<small>아이디어 관심도 : {{idea.interest}} </small>

<br/>
<small>예상 개발툴 : {{idea.devtool}} </small>



<div>
    <a href="/idea/{{idea.pk}}/update">수정하기</a>
  </div>
  <form action="/idea/{{idea.pk}}/delete" method="post">
    {% csrf_token %}
    <input type="submit" , value="삭제하기" />
  </form>
  <a href="/">목록</a>
{% endblock content %}